<md-card-title class="cr-bg card-bg-settings">
  <md-card-title-text>
    <div class="md-toolbar-tools card-heading">
      <h3 flex="" md-truncate="" class="md-truncate flex">Reports</h3>
      <button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Settings" ng-click="">
        <i class="material-icons ng-scope">more_vert</i>
      </button>
    </div>
  </md-card-title-text>
</md-card-title>
<md-card-content class="card-button-content" ng-click="changeCard('report')">
  <div class="md-toolbar-tools card-buttons">
    <h3 flex="" md-truncate="" class="md-truncate flex">View Reports</h3>
    <button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Settings" ng-click="">
      <i class="material-icons ng-scope">keyboard_arrow_right</i>
    </button>
  </div>
</md-card-content>