.margin-top-10{margin-top:10px}
.card-bg-settings{
  color:#fff;
  height:100px;
}
.cr-bg{
  background: url(../img/jds.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5px 15px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.card-heading {
  padding: 0 !important;
  margin: 0 !important;
  height: auto !important;
}
.card-button-content{
  height:auto;
  padding: 0 16px;
}
.card-buttons{
  height:auto;
  padding: 0;
  margin: 0;
}
.card-buttons>h3,
.card-button-text{
  font-size:16px !important;
  margin:0 !important;
  padding:0;
  color:#666
}
.card-buttons>button {
  color: #666;
  height: 50px !important;
  padding-top: 15px !important;
}
.card-buttons>h3:nth-of-type(2) {
    text-align: right;
}
md-card>md-card-title,
md-card>md-card-content:first-child{
  min-height:175px;
  padding: 20px 15px 5px;
  background-color: #ededed;
}
md-card md-input-container {
  margin: 10px 0;
  padding: 0;
}
md-card md-card-content:first-child md-input-container{
  margin-top:0
}
md-option span:nth-of-type(1n+2) {
  font-size: 8px;
}
/*
md-option span:first-child {
  display: block;
  margin-bottom: -8px;
}
*/
md-card-content .card-options span:first-child {
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
}
md-card-content .card-options span {
  display: block;
  font-size: 12px;
}
.chemical-list {
  margin-left: 15px;
}
.chemicals-s{
  font-weight: 100 !important;
  display: inline !important;
  font-size: 12px !important;
}
.weather-icon {
  height: 75px;
  width: 50%;
  font-size:4em;
  margin-top:-10px;
  text-align: center;
}
.weather-temp{
  font-size:4em;
  width:50%;
  text-align: center;
}
.weather-description{
  width:50%;
  margin-top:-15px;
  text-align:center;
  text-transform: capitalize;
  font-size:12px;
}
.weather-options{
  margin:20px 0 10px;
}
.weather-options label{font-weight: 600}
.weather-gust,
.weather-deg,
.weather-speed,
.weather-humidity{
/*  width:25%;*/
  width:33%;
  font-size:10px;
  text-align: center;
}
.mdi-weather-sunny{
  color:goldenrod;
}
.mdi-weather-cloudy{
  color:cadetblue;
}
.mdi-weather-partlycloudy{
  color:darkgoldenrod;
}
.mdi-weather-pouring{
  color:grey;
}
.mdi-weather-lightning{
  color:brown;
}
.mdi-weather-snowy{
  color:beige;
}
.mdi-weather-fog{
  color:slateblue;
}



/*report*/
.reportEntryLocation{
  width:50%;
}
.reportEntryDate{
  font-size: 10px;
  text-align: right;
  width:50%;
}
.reportEntryRecipieTitle,
.reportEntryWeather{
  font-size:14px;
}
.reportEntryRecipieChemicals{
  font-size: 12px;
  margin-left: 10px;
}
.reportEntryWeather,
.reportEntryRecipie{
  width:50%;
}
.reportEntryWeather span {
  display: block;
  font-size: 10px;
  text-align: right;
}
.reportEntry:first-child{
  padding-bottom:10px;
}
.reportEntry:nth-of-type(1n+2) {
    padding: 10px 0;
    border-top: solid 1px #ddd;
}